/*Добавить маску*/
/*index.html*/
body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  min-width: 1280px;
  min-height: 2762px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;
  /* box-shadow:  */
}

a {
  text-decoration: none;
}

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.current a {
  color: #766357;
}

/* .page-header {
  margin-bottom: 109px;
} */
.main-navigation {
  color: #000000;
  display: flex;
  line-height: 26px;
}

.site-navigation {
  display: flex;
  font-weight: bold;
  list-style: none;
  width: 100%;
  padding: 0 57px;
  height: 56px;
  margin: 0;
}

.item {
  width: 25%;
  text-align: left;
  display: flex;
  align-items: center;
}

.item.right {
  justify-content: flex-end;
}

.item a {
  color: #000;
}

.item a:hover {
  color: #81b3d2;
}

.item a:active {
  color: #b2b2b2b2;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.promo {
  position: relative;
  height: 800px;
  background-image: url("../img/bg.jpg");
  background-position: top center;
  padding-top: 76px;
  margin-bottom: 57px;
  box-sizing: border-box;
}

.promo::after {
  content: "";
}

.polygon {
  position: absolute;
  transform: translateY(-141px);
}

/*Седона - небольшой городок в Аризоне, заслуживающий большего*/
.about-description {
  width: 470px;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  margin: 0 auto 33px;
  padding: 0;
}

/*Рассмотрим 5 причин, по которым Седона круче, чем Гранд Каньон!*/
/*.features {
  display: flex;

  text-align: center;
  width: 519px;
  min-height: 26px;
  margin-bottom: 51px;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}
*/
.about-features {
  font-size: 14px;
  line-height: 1.86;
  min-height: 26px;
  margin-top: 0;
  margin-bottom: 51px;
  color: #333333;
  text-align: center;
}

/* Причины */
.features-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  list-style: none;
}

/*Там есть  Мост дьявола*/
.feature-name {
  font-size: 21px;
  font-weight: bold;
}

/* .feature-item {
  min-height: 256px;
} */
/*Акцентировать голубой фон только на Wide. Без вложенного списка */
.feature-item.wide {
  display: flex;
  flex-wrap: inherit;
  color: #fff;
  background-color: #81b3d2;
}

.reverse {
  flex-direction: row-reverse;
}

.feature-item.grey {
  width: 400px;
  background-color: #eeeeee;
  padding-top: 43px;
  padding-bottom: 46px;
}

.info-wrap {
  padding-top: 43px;
  width: 400px;
}

.brown {
  color: #333333;
}

.img-wrap {
  width: 800px;
  height: 256px;
}

/* .advantages-container {
  display: block;
  min-height: 330px;
  width: 1200px;
} */
.advantages-list {
  display: flex;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #000;
  background-color: #fff;
}

.advantages-item {
  font-size: 21px;
  width: 400px;
  font-weight: bold;
  padding-top: 160px;
  padding-bottom: 85px;
  background-repeat: no-repeat;
  background-position: center 50px;
}

.advantages-item.house {
  background-image: url("../img/house-icon.svg");
}

.advantages-item.food {
  background-image: url("../img/food-icon.svg");
}

.advantages-item.souvenirs {
  background-image: url("../img/souvenirs-icon.svg");
}

.advantages-item-detail {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  color: #333333;
}

.order-container {
  margin-top: 55px;
  margin-bottom: 35px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;
  width: 464px;
  min-height: 115px;
}

.order-form {
  padding: 55px;
  display: flex;
  background-color: purple;
  flex-wrap: wrap;
  position: absolute;
}

.order-form label[for="adults"] {
  margin-right: 38px;
}

.appoiment-item {
  display: flex;
  font-weight: bold;
  line-height: 1.86;
  flex-basis: 100%;
  position: relative;
  align-items: center;
}

.appoiment-item.children {
  padding-left: 48px;
  box-sizing: border-box;
}

.appoiment-item:not(.half-width) {
  margin-bottom: 30px;
}

/*Заинтересовались?*/
.order b {
  font-size: 30px;
}

/*Укажите предполагаемые даты поездки, и мы покажем вам лучшие предложения гостиниц в Седоне*/
.order-info {
  color: #333333;
  font-weight: normal;
  line-height: 1.71;
  margin: 0;
  padding: 0;
}

.hotel-search-form {
  width: 568px;
  margin: 0 auto;
  position: relative;
}

/*Поиск гостиницы в Седоне*/
.hotel-search {
  font-weight: bold;
  font-size: 21px;
  line-height: 1.24;
  color: #fff;
  background-color: #766357;
  width: 568px;
  min-height: 86px;
  margin-top: 35px;
  text-transform: uppercase;
}

.hotel-search:hover {
  background-color: #604e43;
}

.hotel-search:active {
  color: #fff;
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

/*Дата заезда; дата выезда, взрослые, дети*/
.appoiment-item.half-width {
  font-size: 14px;
  line-height: 1.86;
  flex-basis: 50%;
}

.appoiment-item label {
  margin-right: auto;
}

button,
input {
  outline: none;
}

input#arrival::-webkit-input-placeholder {
  color: black;
}

input#arrival::-moz-placeholder {
  color: black;
}

input#arrival:-ms-input-placeholder {
  color: black;
}

input#departure::-webkit-input-placeholder {
  color: black;
}

input#departure::-moz-placeholder {
  color: black;
}

input#departure:-ms-input-placeholder {
  color: black;
}

input#adults::-webkit-input-placeholder {
  color: black;
}

input#adults::-moz-placeholder {
  color: black;
}

input#adults:-ms-input-placeholder {
  color: black;
}

input#children::-webkit-input-placeholder {
  color: black;
}

input#children::-moz-placeholder {
  color: black;
}

input#children:-ms-input-placeholder {
  color: black;
}

.field-input {
  font-weight: bold;
  background-color: #f2f2f2;
  width: 346px;
  height: 38px;
  padding: 0;
  border: 0;
  padding-left: 13px;
  box-sizing: border-box;
}

.field-input.half-width {
  width: 38px;
  height: 38px;
  text-align: center;
  padding: 0;
}

.field-input:hover {
  background-color: #ebebeb;
}

.field-input:focus {
  background-color: #fff;
}

/*Найти. Убрать стандартную обводку*/
.find {
  font-size: 21px;
  line-height: 1.24;
  color: #fff;
  background-color: #81b3d2;
  width: 458px;
  height: 58px;
  margin-top: 54px;
  border: 0;
}

.find:hover {
  background-color: #669ec0;
}

/*Что-то с прозрачностью*/
.find:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.calendar {
  position: absolute;
  background-color: #ffffff00;
  border: 0;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.calendar svg {
  font-size: 0;
  fill: #a9a9a9;
}

.calendar:hover svg {
  fill: #000;
}

.calendar:active svg {
  fill: #81b3d2;
}

/*Скрыл изображение через display: none; */
.map {
  overflow: hidden;
  width: 1200px;
  height: 597px;
  margin-bottom: -120px;
}

/*  .social-link {} */
.twitter {
  display: block;
  background-image: url("../img/twitter-icon.svg");
}

.facebook {
  display: block;
  background-image: url("../img/facebook-icon.svg");
}

.youtube {
  display: block;
  background-image: url("../img/youtube-icon.svg");
}

.facebook,
.twitter,
.youtube {
  font-size: 0;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center;
}

.facebook:hover,
.twitter:hover,
.youtube:hover {
  background-color: #669ec0;
}

.facebook:active,
.twitter:active,
.youtube:active {
  color: #87b5d0;
  background-color: #5496bd;
}

.less,
.more {
  color: #a9a9a9;
  border: 0;
  width: 38px;
  height: 38px;
  padding: 0;
  font-size: 27px;
}

.less:hover,
.more:hover {
  color: #000;
}

.less:active,
.more:active {
  color: #81b3d2;
}

.reservation {
  font-weight: bold;
  line-height: 1.5;
  color: #fff;
  background-color: #766357;
  width: 142px;
  display: flex;
  justify-content: center;
  height: 17px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.reservation:hover {
  background-color: #604e43;
}

.reservation:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

h3 {
  margin: 0;
  padding: 0;
  width: 100%;
}

.detail {
  font-weight: bold;
  line-height: 1.5;
  color: #ffffff;
  background-color: #81b3d2;
  width: 110px;
  display: flex;
  justify-content: center;
  height: 17px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.detail:hover {
  background-color: #669ec0;
}

.detail:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.text {
  color: #666666;
  background-color: #f2f2f2;
  width: 110px;
  height: 17px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.hidden {
  visibility: hidden;
  margin: 0;
}

.stars {
  font-size: 0;
  color: #666;
  /* background-color: #f2f2f2; */
  background-image: url("../img/star.svg");
  background-repeat: space;
}

.stars.four {
  width: 80px;
  margin-left: 32px;
}

.stars.three {
  width: 60px;
  margin-left: 50px;
}

.stars.two {
  width: 40px;
  margin-left: 70px;
}

.house-type,
.price {
  color: #333;
}

.footer-copyright svg {
  font-size: 0;
  fill: #a9a9a9;
}

.footer-copyright:hover svg {
  fill: #000;
}

.footer-copyright:active svg {
  fill: #81b3d2;
}

.page-footer {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 117px;
  padding-right: 101px;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.9);
}

.hashtag {
  width: 166px;
  font-size: 21px;
  font-weight: bold;
  height: 26px;
  text-align: left;
}

.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
  min-height: 48px;
  padding-left: 241px;
  list-style: none;
}

.link {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  width: 219px;
  margin: 0 0 0 213px;
  text-align: center;
}

.link p {
  display: flex;
  align-items: center;
}

.link a {
  margin-left: 10px;
}

/*holels.html*/
.catalog-list,
.left-col {
  list-style: none;
  padding: 0;
}

.left-col {
  width: 110px;
  margin-right: 9px;
}

.right-col {
  width: 142px;
  margin-right: 500px;
}

.catalog-list {
  text-align: left;
}

.info {
  display: flex;
  margin-left: 30px;
  flex-wrap: wrap;
}

.catalog-item {
  display: flex;
  padding: 30px 72px;
}

.rating {
  text-align: center;
}

.hotel-title a {
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  color: #000000;
}

.hotel-title:hover a {
  color: #81b3d2;
}

.hotel-title:active a {
  color: rgba(178, 178, 178, 0.3);
}

.filter-range {
  width: 330px;
  margin: 50px auto; /* для демо */

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
