/*Добавить маску*/
/*index.html*/
body {
  width: 1200px;
  height: 800px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
}

.page-wrapper {
  color: #f2f2f2;
  width: 1200px;
  text-align: center;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

.catalog-list {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation {
  list-style: none;
  color: #000000;
  font-weight: bold;
}

.site-navigation a:hover {
  color: #81B3D2;
}

.site-navigation a:active {
  color: #b2b2b2b2;
}

.active-page li {
  color: #766357;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  line-height: 1.86;
}

.promo {
  background-image: url("../img/bg.jpg");
  background-position: top center;
  width: 1200px;
  height: 800px;
  border: solid 1px #b36565;
  text-align: center;
}

h1 {
  visibility: hidden;
}

/*Седона - небольшой городок в Аризоне, заслуживающий большего*/
.about-description {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  margin: 0;
  padding: 0;
}

/*Рассмотрим 5 причин, по которым Седона круче, чем Гранд Каньон!*/
.features {
  font-size: 14px;
  line-height: 26px;
  line-height: 1.86;
  color: #333333;
}

/*--1 причина--......>*/
.features-list {
  list-style: none;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/*Там есть  Мост дьявола*/
h2 {
  font-size: 21px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

/*Акцентировать голубой фон только на Wide. Без вложенного списка */
.feature-item.wide {
  color: #ffffff;
  background-color: #81b3d2;
}

/*Седона - не аттракцион для туристов, там течёт своя жизнь<*/
.feature-item-detail {
  font-size: 14px;
}

.city {
  width: 800px;
  height: 256px;
  overflow: hidden;
}

.bridge {
  width: 800px;
  height: 256px;
  overflow: hidden;
}

.advantages-list {
  list-style: none;
  line-height: 1.5;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.advantages-item {
  margin: 0;
  padding: 0;
}

/*Жильё*/
.advantages-item.house {
  background-image: url("../img/house-icon.svg");
  width: 75px;
  height: 72px;
}

/*Еда*/
.advantages-item.food {
  background-image: url("../img/food-icon.svg");
  width: 75px;
  height: 70px;
}

/*Сувениры*/
.advantages-item.souvenirs {
  background-image: url("../img/souvenirs-icon.svg");
  width: 64px;
  height: 76px;
}

.advantages-item {
  font-size: 21px;
  font-weight: bold;
}

.advantages-item-detail {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  color: #333333;
}

.order {
  font-weight: bold;
}

/*Заинтересовались?*/
.order b {
  font-size: 30px;
}

/*Укажите предполагаемые даты поездки, и мы покажем вам лучшие предложения гостиниц в Седоне*/
.order-info {
  font-size: 14px;
  line-height: 1.71;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

/*Поиск гостиницы в Седоне*/
.hotel-search {
  font-size: 21px;
  line-height: 1.24;
  color: #ffffff;
  background-color: #766357;
}

.hotel-search:hover {
  background-color: #604e43
}

.hotel-search:active {
  background-color: #503e33;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.3);
}

/*Дата заезда; дата выезда, взрослые, дети*/
.appoiment-item.half-width {
  font-size: 14px;
  line-height: 1.86
}

input, button {
  outline: none;
}

.field-input {
  background-color: #f2f2f2;
}

.field-input:hover {
  background-color: #EBEBEB;
}

.field-input:focus {
  background-color: #FFFFFF;
}

/*Найти. Убрать стандартную обводку*/
.find {
  font-size: 21px;
  line-height: 1.24;
  color: #ffffff;
  background-color: #81b3d2;
}

.find:hover {
  background-color: #669ec0;
}

/*Что-то с прозрачностью*/
.find:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.calendar svg {
  fill: #f2f2f2;
  font-size: 0;
}

.calendar:hover svg {
  fill: #000000;
}

.calendar:active svg {
  fill: #81B3D2;
}

.map {
  width: 1200px;
  height: 597px;
  overflow: hidden;
}

.footer-social {
  list-style: none;
}

/*  .social-link {} */
.twitter {
  display: block;
  background-image: url("../img/twitter-icon.svg");
  width: 46px;
  height: 48px;
  font-size: 0;
}

.facebook {
  display: block;
  background-image: url("../img/facebook-icon.svg");
  width: 47px;
  height: 48px;
  font-size: 0;
}

.twitter, .facebook, .youtube {
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center;
}

.twitter:hover, .facebook:hover, .youtube:hover {
  background-color: #669EC0;
}

.twitter:active, .facebook:active, .youtube:active {
  background-color: #5496BD;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.3);
}

.youtube {
  display: block;
  background-image: url("../img/youtube-icon.svg");
  width: 46px;
  height: 48px;
  font-size: 0;
}

/*holels.html*/
.catalog-list .item-result {
  list-style: none;
}

.more, .less {
  color: #A9A9A9;
}

.more:hover, .less:hover {
  color: #000000;
}

.more:active, .less:active {
  color: #81B3D2;
}

.reservation {
  color: #ffffff;
  background-color: #766357;
}

.reservation:hover {
  background-color: #604E43;
}

.reservation:active {
  background-color: #503E33;
  color: rgba(255, 255, 255, 0.3);
}

h3 {
  margin: 0;
  padding: 0;
}

.hotel-title a {
  color: #000000;
  text-decoration: none;
}

.hotel-title:hover a {
  color: #81B3D2;
}

.hotel-title:active a {
  color: rgba(178, 178, 178, 0.3);
}

.detail {
  color: #FFFFFF;
  background-color: #81B3D2;
}

.detail:hover {
  background-color: #669EC0;
}

.detail:active {
  color: rgba(135, 181, 208, 0.3);
  background-color: #5496BD;
}

.visually-hidden {
  font-size: 0;
}

.rating {
  color: #666666;
  background-color: #f2f2f2;
}

.rating-star {
  font-size: 0;
  background-image: url("../img/star.svg");
  background-repeat: repeat-x;
  width: 19px;
  height: 17px;
}
