/*Вставить фоновые изображения*/
/*Не подключилось фоновое изображение .jpg*/
/*Добавить маску*/
/*Удалить стандартную обводку рамок*/
/*index.html*/
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  /*background-color: rgba(0, 0, 0, 0);*/
  background-image: url("img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.site-navigation a {
  color: #000000;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: rgba(0, 0, 0, 0);
  line-height: 1.86;
}

.site-navigation {
  list-style: none;
  color: #000000;
  font-weight: bold;
}

.site-navigation a:hover {
  color: #81B3D2;
}

.site-navigation a:focus {
  color: #000000;
  opacity: .3;
}

/*Подумать, как выделить ?класс? "active" коричневым, чтобы он не наследовал цвет от родителя*/
.active-page a {
  color: #766357;
}

.promo {
  background-color: #000000
}

h1 {
  visibility: hidden;
}

/*Седона - небольшой городок в Аризоне, заслуживающий большего*/
.about-description {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24
}

/*Рассмотрим 5 причин, по которым Седона круче, чем Гранд Каньон!*/
.features {
  font-size: 14px;
  line-height: 26px;
  line-height: 1.86;
  color: #333333;
}

/*--1 причина--......>*/
.features-list {
  list-style: none;
  font-size: 14px;
  line-height: 1.5;
}

/*Там есть  Мост дьявола*/
h2 {
  font-size: 21px;
  font-weight: bold;
}

/*Если потребуется, как задавать свойста классам "feature-item grey"? Класс с пробелом*/
.grey {
  background-color: #F2F2F2;
}

/*Акцентировать голубой фон только на Wide. Без вложенного списка */
.wide {
  color: #ffffff;
  background-color: #81b3d2;
}

/*Седона - не аттракцион для туристов, там течёт своя жизнь<*/
.feature-item-detail {
  font-size: 14px;
}

.advantages-list {
  list-style: none;
  line-height: 1.5;
  color: #000000;
  background-color: #ffffff;
}

/*Жильё, еда, сувениры. Не отображаются*/
/*Жильё*/
.house-icon {
  background-image: url("house-icon.svg");
  width: 75px;
  height: 72px;
}

/*Еда*/
.food-icon {
  background-image: url("food-icon.svg");
  width: 75px;
  height: 70px;
}

/*Сувениры*/
.souvenirs-icon {
  background-image: url("souvenirs-icon.svg");
  width: 64px;
  height: 76px;
}

.advantages-item {
  font-size: 21px;
  font-weight: bold;
}

.advantages-item-detail {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  color: #333333;
}

.order {
  font-weight: bold;
}

/*Заинтересовались?*/
.order b {
  font-size: 30px;
}

/*Укажите предполагаемые даты поездки, и мы покажем вам лучшие предложения гостиниц в Седоне*/
.order-info {
  font-size: 14px;
  line-height: 1.71;
  font-weight: normal;
}

/*Поиск гостиницы в Седоне*/
.hotel-search {
  font-size: 21px;
  line-height: 1.24;
  color: #ffffff;
  background-color: #766357;
}

.hotel-search:hover {
  background-color: #604e43
}

/*Неверно отображается цвет при нажатии*/
.hotel-search:focus {
  background-color: #503e33;
  color: #ffffff;
  opacity: .3;
}

/*Дата заезда; дата выезда, взрослые, дети*/
.appoiment-item,
.appoiment-item half-width {
  font-size: 14px;
  line-height: 1.86
}

.field-input {
  background-color: #f2f2f2;
}

/*Найти. Убрать стандартную обводку*/
.find {
  font-size: 21px;
  line-height: 1.24;
  color: #ffffff;
  background-color: #81b3d2;
}

.find:hover {
  background-color: #669ec0;
}
/*Что-то с прозрачностью*/
.find:focus {
  background-color: #5496bd;
  opacity: .3;
}

.calendar {
  background-image: url("calendar.svg");
  width: 21px;
  height: 22px;
}

.footer-social {
  list-style: none;
}

.twitter-icon {
  background: url("twitter-icon.svg");
  width: 17px;
  height: 17px;
}

.facebook-icon {
  background: url("facebook-icon.svg");
  width: 12px;
  height: 22px;
}

.youtube-icon {
  background: url("youtube-icon.svg");
  width: 20px;
  height: 16px;
}

/*holels.html*/
.catalog-list
.item-result {
  list-style: none;
}


.more {
color: #ffffff;
background-color:  #A8937D;
}

.more:hover {
 background-color: #604e43;}

.more:focus {
 background-color: #503e33;
 opacity: 0.3;
}

.reservation {
  color: #ffffff;
 background-color: #81b3d2;
}


.reservation:hover {
background-color: #669ec0;
}

.reservation:focus {
background-color: #5496bd;
opacity: 0.3;
}

.rating {
color: #666666;
 background-color: #f2f2f2;
}
